In [2]:
print("Hello World!")

Hello World!

In [21]:
#imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier

from sklearn.metrics import (
    accuracy_score,
    roc_auc_score,
    precision_score,
    recall_score,
    f1_score,
    matthews_corrcoef
)

In [ ]:
# lets read the data
data_csv_path = r"E:\Mtech\ML\Assignments\Assignment_2\ml-bank-marketing-app-assignment-2\models\data\bank.csv"
data = pd.read_csv(data_csv_path)

data.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [7]:
print(data.shape)
print(data.info())
print(data.isnull().sum())
print(data.describe())

(11162, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB
None
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64
                age       balance           day      duration      campaign  \
count  11162.000000  11162.000000  11162.000000  11162.000000  11162.000000
mean      41.231948   1528.538524     15.658036    371.993818      2.508421
std       11.913369   3225.413326      8.420740    347.128386      2.722077
min       18.000000  -6847.000000      1.000000      2.000000      1.000000
25%       32.000000    122.000000      8.000000    138.000000      1.000000
50%       39.000000    550.000000     15.000000    255.000000      2.000000
75%       49.000000   1708.000000     22.000000    496.000000      3.000000
max       95.000000  81204.000000     31.000000   3881.000000     63.000000

              pdays      previous
count  11162.000000  11162.000000
mean      51.330407      0.832557
std      108.758282      2.292007
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       20.750000      1.000000
max      854.000000     58.000000

In [8]:
for col in data.columns:
    print(col, data[col].unique())

age [59 56 41 55 54 42 60 37 28 38 30 29 46 31 35 32 49 43 26 40 33 23 48 45
 36 52 53 39 57 51 44 24 50 27 34 47 25 58 61 68 75 22 69 66 85 72 90 67
 71 21 74 65 62 83 70 76 77 19 73 63 20 78 95 64 79 82 18 86 84 87 92 81
 80 93 88 89]
job ['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
marital ['married' 'single' 'divorced']
education ['secondary' 'tertiary' 'primary' 'unknown']
default ['no' 'yes']
balance [2343   45 1270 ... 1594 2593 -134]
housing ['yes' 'no']
loan ['no' 'yes']
contact ['unknown' 'cellular' 'telephone']
day [ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24  1 10 22 25 31]
month ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
duration [1042 1467 1389 ... 1504  818 1812]
campaign [ 1  2  3  4  6  5  8 11  9 10 15 12 14  7 24 13 17 29 21 20 16 32 19 25
 22 43 18 41 63 27 30 26 23 28 33 31]
pdays [ -1 166  91 147 170 150 171 126 182 110 198 174 175  27 128 100 177 167
 122 183 195 133 178  34  10 163 184 154  99  93   2 242 272  76 160  90
 196 246 238 203 268 189 267  92   9  88  85 210 257 261 270 106 199 112
  41 294 231 239 302 135 307 222 138 323 141 320 264 316 315 256 146 328
  74 148 327 341 145 266 234 345 318 325 274 343 260 305 344 254 180 340
  82 181 278 153   4 349 334 176  87 269  86 169  83  79   6 259  13 161
 350  84  80 164  22 296  66 263 333  17  89  78 286 337 364 188 342 363
 352 295 353 356 288 367 366 359 347 370 284 300 306 361 287 301 355 371
 292 360 358 346 357 368 312 179 329 298 372 374 375 291  95 109  94  98
 186 101 187 321  40  96  21  35  97 285 103 212 293  81  38  28  67  60
 120  55 113  71 119  72  20 391  50 207 105 314 211 140 104  65 395 399
  49 389 386 412  62 229 385 156  63  64  69 394  70 185 102 190 461 116
 422 457 430 192 462 403 191 459 397 197 173 271 428 392 193 474 475 477
 130 283 157 476 131 132 129 134 114 121 107 115  58  57 143 208 335 149
 139  52  75 515 111  56 194 520 213 351 273 162 378 279 200 201 310 275
 127 165 309 313 216 209 282 202 436 433 142 172 281  48 276 297 280 446
 558 616 561 553 555 262 265 384 388 152 390 322 205 326 478 339 155 421
 223 626 426 236 206 348 595 311 648 304 521 369 449 398  53 258 479 237
 425 376 224 227 225 144 586 450 424 776 251 460 683 158 529 377 415 244
 407 458 532 481 445 535 784 491 440 455 277 470   1 435 437 728 414 518
 308 828  31  43 761  29  44 579 466 125 504 427 749 365 769 469 587 792
 854 842 603 444 232 690 137 442 541 550  73 439 420 168 243 387 204 503
 124 290  77  14 221 409 782 332 330 804 551 230 405 319  37 123 417 490
 463 362 805 544 472  33 495 253  36 299 324 235 401 117  68 774 228 317
 255 336 233 486   5 778 771 245  42 338 354 373 772  59 247 331  61 381
 108  15   8 241 136 159 250 217  12 826 594 303 151 404 717 289 252 651
 214  24 701 118]
previous [ 0  1  4  2  3 10  7  9  5 29  6 13 17  8 11 30 22 58 21 14 26 12 19 55
 23 15 20 27 16 41 40 28 18 37]
poutcome ['unknown' 'other' 'failure' 'success']
deposit ['yes' 'no']

In [9]:
data["deposit"] = data["deposit"].map({"yes": 1, "no": 0})
data["deposit"].value_counts()

deposit
0    5873
1    5289
Name: count, dtype: int64

In [10]:
data["previous_contact"] = data["pdays"].apply(lambda x: 0 if x == -1 else 1)
data["pdays"] = data["pdays"].replace(-1, 0)

In [11]:
for col in data.columns:
    print(col, data[col].unique())

age [59 56 41 55 54 42 60 37 28 38 30 29 46 31 35 32 49 43 26 40 33 23 48 45
 36 52 53 39 57 51 44 24 50 27 34 47 25 58 61 68 75 22 69 66 85 72 90 67
 71 21 74 65 62 83 70 76 77 19 73 63 20 78 95 64 79 82 18 86 84 87 92 81
 80 93 88 89]
job ['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
marital ['married' 'single' 'divorced']
education ['secondary' 'tertiary' 'primary' 'unknown']
default ['no' 'yes']
balance [2343   45 1270 ... 1594 2593 -134]
housing ['yes' 'no']
loan ['no' 'yes']
contact ['unknown' 'cellular' 'telephone']
day [ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24  1 10 22 25 31]
month ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
duration [1042 1467 1389 ... 1504  818 1812]
campaign [ 1  2  3  4  6  5  8 11  9 10 15 12 14  7 24 13 17 29 21 20 16 32 19 25
 22 43 18 41 63 27 30 26 23 28 33 31]
pdays [  0 166  91 147 170 150 171 126 182 110 198 174 175  27 128 100 177 167
 122 183 195 133 178  34  10 163 184 154  99  93   2 242 272  76 160  90
 196 246 238 203 268 189 267  92   9  88  85 210 257 261 270 106 199 112
  41 294 231 239 302 135 307 222 138 323 141 320 264 316 315 256 146 328
  74 148 327 341 145 266 234 345 318 325 274 343 260 305 344 254 180 340
  82 181 278 153   4 349 334 176  87 269  86 169  83  79   6 259  13 161
 350  84  80 164  22 296  66 263 333  17  89  78 286 337 364 188 342 363
 352 295 353 356 288 367 366 359 347 370 284 300 306 361 287 301 355 371
 292 360 358 346 357 368 312 179 329 298 372 374 375 291  95 109  94  98
 186 101 187 321  40  96  21  35  97 285 103 212 293  81  38  28  67  60
 120  55 113  71 119  72  20 391  50 207 105 314 211 140 104  65 395 399
  49 389 386 412  62 229 385 156  63  64  69 394  70 185 102 190 461 116
 422 457 430 192 462 403 191 459 397 197 173 271 428 392 193 474 475 477
 130 283 157 476 131 132 129 134 114 121 107 115  58  57 143 208 335 149
 139  52  75 515 111  56 194 520 213 351 273 162 378 279 200 201 310 275
 127 165 309 313 216 209 282 202 436 433 142 172 281  48 276 297 280 446
 558 616 561 553 555 262 265 384 388 152 390 322 205 326 478 339 155 421
 223 626 426 236 206 348 595 311 648 304 521 369 449 398  53 258 479 237
 425 376 224 227 225 144 586 450 424 776 251 460 683 158 529 377 415 244
 407 458 532 481 445 535 784 491 440 455 277 470   1 435 437 728 414 518
 308 828  31  43 761  29  44 579 466 125 504 427 749 365 769 469 587 792
 854 842 603 444 232 690 137 442 541 550  73 439 420 168 243 387 204 503
 124 290  77  14 221 409 782 332 330 804 551 230 405 319  37 123 417 490
 463 362 805 544 472  33 495 253  36 299 324 235 401 117  68 774 228 317
 255 336 233 486   5 778 771 245  42 338 354 373 772  59 247 331  61 381
 108  15   8 241 136 159 250 217  12 826 594 303 151 404 717 289 252 651
 214  24 701 118]
previous [ 0  1  4  2  3 10  7  9  5 29  6 13 17  8 11 30 22 58 21 14 26 12 19 55
 23 15 20 27 16 41 40 28 18 37]
poutcome ['unknown' 'other' 'failure' 'success']
deposit [1 0]
previous_contact [0 1]

In [12]:
X = data.drop("deposit", axis=1)
y = data["deposit"]

print(X.shape)
print(y.shape)
print(X.columns)

(11162, 17)
(11162,)
Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'previous_contact'],
      dtype='object')

In [13]:
# Identifying categorical and numerical columns
categorical_cols = X.select_dtypes(include=["object"]).columns
numerical_cols = X.select_dtypes(include=["int64", "float64"]).columns
print("Categorical:", categorical_cols)
print("Numeric:", numerical_cols)

Categorical: Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome'],
      dtype='object')
Numeric: Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous',
       'previous_contact'],
      dtype='object')

In [15]:
preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numerical_cols),
        ("cat", OneHotEncoder(drop="first"), categorical_cols)
    ]
)

In [22]:
preprocessor_sparse = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numerical_cols),
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_cols)
    ]
)

# For Naive Bayes, we can use sparse output for OneHotEncoder to save memory
preprocessor_dense = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numerical_cols),
        ("cat", OneHotEncoder(handle_unknown="ignore", sparse_output=False), categorical_cols)
    ]
)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [17]:
print(X[categorical_cols].nunique())
print(X[numerical_cols].describe())
train_test_shape = {
    "X_train": X_train.shape,
    "X_test": X_test.shape,
    "y_train": y_train.shape,
    "y_test": y_test.shape
}
print(train_test_shape)

job          12
marital       3
education     4
default       2
housing       2
loan          2
contact       3
month        12
poutcome      4
dtype: int64
                age       balance           day      duration      campaign  \
count  11162.000000  11162.000000  11162.000000  11162.000000  11162.000000
mean      41.231948   1528.538524     15.658036    371.993818      2.508421
std       11.913369   3225.413326      8.420740    347.128386      2.722077
min       18.000000  -6847.000000      1.000000      2.000000      1.000000
25%       32.000000    122.000000      8.000000    138.000000      1.000000
50%       39.000000    550.000000     15.000000    255.000000      2.000000
75%       49.000000   1708.000000     22.000000    496.000000      3.000000
max       95.000000  81204.000000     31.000000   3881.000000     63.000000

              pdays      previous  previous_contact
count  11162.000000  11162.000000      11162.000000
mean      52.076151      0.832557          0.254256
std      108.399706      2.292007          0.435461
min        0.000000      0.000000          0.000000
25%        0.000000      0.000000          0.000000
50%        0.000000      0.000000          0.000000
75%       20.750000      1.000000          1.000000
max      854.000000     58.000000          1.000000
{'X_train': (8929, 17), 'X_test': (2233, 17), 'y_train': (8929,), 'y_test': (2233,)}

In [20]:
models = {
    "Logistic Regression": LogisticRegression(random_state=42),
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "KNN": KNeighborsClassifier(),
    "Random Forest": RandomForestClassifier(random_state=42),
    "Naive Bayes": GaussianNB(),
    "XGBoost": XGBClassifier(random_state=42, use_label_encoder=False, eval_metric='logloss')
}

In [23]:
results = []
for name, model in models.items():
    
    if name == "Naive Bayes":
        pipeline = Pipeline(steps=[
            ("preprocessor", preprocessor_dense),
            ("classifier", model)
        ])
    else:
        pipeline = Pipeline(steps=[
            ("preprocessor", preprocessor_sparse),
            ("classifier", model)
        ])
    pipeline.fit(X_train, y_train)
    y_pred = pipeline.predict(X_test)
    
    # For AUC, we need probabilities
    if hasattr(model, "predict_proba"):
        y_proba = pipeline.predict_proba(X_test)[:, 1]
        auc = roc_auc_score(y_test, y_proba)
    else:
        auc = "None"
    
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    # Matthews Correlation Coefficient (MCC Score)
    mcc = matthews_corrcoef(y_test, y_pred)
    metrics_calc = {
        "Model": name,
        "Accuracy": accuracy,
        "Precision": precision,
        "Recall": recall,
        "F1 Score": f1,
        "MCC Score": mcc,
        "AUC Score": auc
    }
    results.append(metrics_calc)

e:\Mtech\ML\Assignments\Assignment_2\ml-bank-marketing-app-assignment-2\venv\Lib\site-packages\xgboost\training.py:200: UserWarning: [13:17:52] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:782:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [24]:
metrics_calc_df = pd.DataFrame(results)
print(metrics_calc_df)

                 Model  Accuracy  Precision    Recall  F1 Score  MCC Score  \
0  Logistic Regression  0.826243   0.828431  0.798677  0.813282   0.651285
1        Decision Tree  0.792208   0.789474  0.765595  0.777351   0.582885
2                  KNN  0.816391   0.818898  0.786389  0.802314   0.631492
3        Random Forest  0.854008   0.823894  0.879962  0.851005   0.709676
4          Naive Bayes  0.717868   0.773657  0.571834  0.657609   0.440868
5              XGBoost  0.864756   0.838104  0.885633  0.861213   0.730586

   AUC Score
0   0.907122
1   0.790883
2   0.879485
3   0.920069
4   0.801456
5   0.927248